{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login & Signup</title>
    <link rel="stylesheet" href=" {% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% if messages %}
          <div class="popup" id="popup" >
              <ul>
                  {% for message in messages %}
                          <li>{{message}}</li>
                  {% endfor %}
                  <button type="button" onclick="closePopup()">ok</button>
              </ul>
          </div>
      {% endif %}
      {% if form.errors %}
      <div class="popup" id="popup" >
                <ul>{% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                <button type="button" onclick="closePopup()">ok</button>
            </ul>
          </div> 
        {% endif %}
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login</div>
        <div class="title signup">Signup</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="{% url 'login' %}" method='POST' class="login">
            {% csrf_token %}
            <div class="field">
              {{ form.username }}
            </div>
            <div class="field">
              {{ form.password1 }}
            </div>
            <div class="pass-link"><a href="#">Forgot password?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="">Signup now</a></div>
          </form>
          <form action="{% url 'signin' %}" method ="POST" class="signup" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.email }}
            </div>
            <div class="field">
              {{ form.password1 }}
            </div>
            <div class="field">
                {{ form.password2 }}
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
          </form>
          
        </div>
      </div>
    </div>

    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      let popup=document.getElementById("popup");
      function closePopup(){
          popup.classList.add("open-popup")
        }

      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });


    </script>
  </body>
</html>
